/* line 1, style.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 7, style.scss */
.page-content {
  margin-bottom: 64px;
}

/* line 11, style.scss */
.mdl-layout__header {
  color: #555;
  background: white;
}

/* line 16, style.scss */
.bck-btn {
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 4;
}

/* line 23, style.scss */
.mdl-layout__drawer-button i {
  line-height: 2;
}

/* line 27, style.scss */
.demo-card-image.mdl-card {
  width: 100vw;
  max-width: 600px;
  height: 300px;
}

/* line 33, style.scss */
.heart {
  color: black;
}

/* line 37, style.scss */
#spinner {
  position: absolute;
  display: block;
  top: 50%;
  right: 47%;
  z-index: 100;
}

/* line 45, style.scss */
#card1.demo-card-image.mdl-card {
  background: url("images/image1.jpg") center/cover;
}

/* line 49, style.scss */
#card2.demo-card-image.mdl-card {
  background: url("images/image2.jpg") center/cover;
}

/* line 53, style.scss */
#card3.demo-card-image.mdl-card {
  background: url("images/image3.jpg") center/cover;
}

/* line 57, style.scss */
#card4.demo-card-image.mdl-card {
  background: url("images/image4.jpg") center/cover;
}

/* line 61, style.scss */
#card5.demo-card-image.mdl-card {
  background: url("images/image5.jpg") center/cover;
}

/* line 65, style.scss */
#card6.demo-card-image.mdl-card {
  background: url("images/image6.jpg") center/cover;
}

/* line 69, style.scss */
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.7);
}

/* line 75, style.scss */
.demo-card-image__filename {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/* line 81, style.scss */
.card-description-collapsed {
  width: calc(100% - 16px);
  height: 2.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
  transition: 1s;
}

/* line 90, style.scss */
.card-description-collapsed:hover {
  height: 10rem;
  transition: height .3s;
}

/* line 95, style.scss */
.published {
  color: rgba(0, 0, 0, 0.54);
}

/* line 99, style.scss */
footer.mdl-mini-footer {
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.4);
  background: white;
  margin: 0;
  padding-left: 0;
}

/* line 106, style.scss */
.mdl-mini-footer__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100vw;
}
/* line 114, style.scss */
.mdl-mini-footer__link-list button,
.mdl-mini-footer__link-list span {
  margin: 0;
}

/* line 119, style.scss */
#footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 56px;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

/* line 131, style.scss */
.bottom-button {
  width: 96px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0;
}

/* line 152, style.scss */
.mdl-button--icon,
.material-icons {
  margin: 0;
}

/* line 156, style.scss */
.button-label {
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 0.7;
  padding-bottom: 10px;
}

/* line 164, style.scss */
.button-label-active {
  color: #00bcd4;
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 0.7;
  padding-bottom: 10px;
}

/* line 173, style.scss */
#video {
  display: block;
}

/* line 177, style.scss */
#myCanvas {
  display: none;
}

/* line 181, style.scss */
#contrButtons {
  padding: 10px;
  display: none;
  text-align: center;
  width: 100vw;
  margin-left: -16px;
}
/* line 187, style.scss */
#contrButtons button {
  margin: 10px;
}

/* line 192, style.scss */
#sharebutton {
  float: right;
  bottom: 8px;
}

/* line 197, style.scss */
.mdl-button--fab {
  position: absolute;
  bottom: 60px;
  right: 16px;
  z-index: 200;
}

/* line 204, style.scss */
.card-icons {
  max-width: 600px;
  padding: 16px;
  line-height: 1.5;
  position: relative;
  color: rgba(0, 0, 0, 0.54);
}
/* line 209, style.scss */
.card-icons .heart {
  color: rgba(0, 0, 0, 0.54);
}

/* line 216, style.scss */
.star-label,
.card-icons.star-label {
  position: absolute;
  right: 8px;
  top: 20px;
}

/* line 222, style.scss */
.card-details {
  max-width: 600px;
  padding-left: 16px;
}

/* line 227, style.scss */
.demo-list-radio {
  display: inline;
}

/* line 231, style.scss */
.demo-list-two {
  width: 100%;
  padding: 0;
}

/* line 236, style.scss */
div.fillin-content {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

/* line 242, style.scss */
.map-container {
  width: 100%;
  margin-bottom: 16px;
}
/* line 245, style.scss */
.map-container iframe {
  width: 100%;
  display: block;
  position: relative;
}

/* line 253, style.scss */
.leftmargin-16,
h5.leftmargin-16 {
  margin-left: 16px;
}

/* line 257, style.scss */
#nearme-search {
  width: 260px;
}

/* line 261, style.scss */
.mdl-layout__header {
  background: url(images/ic_apps_black_24dp_1x.png);
  background-repeat: no-repeat;
  background-position: 16px;
}
/* line 262, style.scss */
.mdl-layout__header .mdl-layout__drawer-button i {
  opacity: 0;
}

/* line 270, style.scss */
.fa {
  font-size: 1.3rem;
  padding: 5px;
}

/* line 275, style.scss */
.mdl-card.fav-card {
  width: 100vw;
  max-width: 600px;
  margin-bottom: 1px;
  min-height: 50px;
  vertical-align: middle;
}

/* line 283, style.scss */
.fav-item {
  font-size: 14px;
  padding-top: 10px;
}

/* line 288, style.scss */
.favimg {
  height: 40px;
  overflow-y: hidden;
}

/* line 294, style.scss */
.card-grid.demo-card-image.mdl-card {
  width: 49vw;
  margin-right: 2px;
  margin-bottom: 2px;
  min-height: 0;
  height: 128px;
}
/* line 301, style.scss */
.card-grid label {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 308, style.scss */
#fav-card.card-grid {
  background: url("images/image1.jpg") center/cover;
}

/* line 312, style.scss */
#fav-card1.card-grid {
  background: url("images/image2.jpg") center/cover;
}

/* line 316, style.scss */
#fav-card2.card-grid {
  background: url("images/image3.jpg") center/cover;
}

/* line 320, style.scss */
#fav-card3.card-grid {
  background: url("images/image4.jpg") center/cover;
}

/* line 324, style.scss */
.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: -12px;
}

/* line 332, style.scss */
.card-names {
  padding: 16px 0 24px 4px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}

/* line 338, style.scss */
.category-icon {
  padding: 16px 4px 24px 16px;
  margin-top: -8px;
}

/* line 343, style.scss */
.myposts-heading {
  margin-top: 0;
  text-align: center;
  margin-bottom: 24px;
}

/* line 349, style.scss */
.settings-btn {
  position: absolute;
  margin: auto;
  top: 43px;
}

/* line 355, style.scss */
.active {
  opacity: 0;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}

/* line 361, style.scss */
.normal {
  opacity: 1;
}

/* line 365, style.scss */
.displaynone {
  display: none;
}

/* line 369, style.scss */
.mdl-icon-toggle__ripple-container {
  background: rgba(255, 255, 255, 0.53);
  z-index: -1;
}

/* line 374, style.scss */
.slide-none {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 381, style.scss */
.slide-left {
  -webkit-transform: translateX(-220%);
  transform: translateX(-220%);
  margin-top: -73px;
  -webkit-transition: margin-top 0.3s 0.3s, -webkit-transform 0.6s;
  transition: margin-top 0.3s 0.3s, -webkit-transform 0.6s;
  transition: transform 0.6s, margin-top 0.3s 0.3s;
  transition: transform 0.6s, margin-top 0.3s 0.3s, -webkit-transform 0.6s;
}

/* line 392, style.scss */
.normal label.star-label,
.active label.star-label {
  margin: 4px;
}

/* line 396, style.scss */
#map {
  height: 70vh;
}

/* line 400, style.scss */
.mdl-menu__container {
  margin-left: -20px;
}

/* line 404, style.scss */
.card-collapse {
  width: 100vw;
  max-width: 600px;
  margin-bottom: 1px;
  min-height: 50px;
  vertical-align: middle;
}

/* line 412, style.scss */
.card-expand {
  min-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 418, style.scss */
.search-img-small {
  height: 40px;
  overflow-y: hidden;
}

/* line 423, style.scss */
.search-img-big {
  height: 180px;
  overflow-y: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 430, style.scss */
.profile-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*POLYFILL DIALOGUE*/
/* line 440, style.scss */
.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px;
}

/* line 444, style.scss */
.mdl-dialog__title {
  padding: 24px 24px 0;
  margin: 0;
  font-size: 2.5rem;
}

/* line 448, style.scss */
.mdl-dialog__actions {
  padding: 8px 8px 8px 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 459, style.scss */
.mdl-dialog__actions > * {
  margin-right: 8px;
  height: 36px;
}

/* line 462, style.scss */
.mdl-dialog__actions > *:first-child {
  margin-right: 0;
}

/* line 464, style.scss */
.mdl-dialog__actions--full-width {
  padding: 0 0 8px 0;
}

/* line 466, style.scss */
.mdl-dialog__actions--full-width > * {
  height: 48px;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding-right: 16px;
  margin-right: 0;
  text-align: right;
}

/* line 474, style.scss */
.mdl-dialog__content {
  padding: 20px 24px 24px 24px;
  color: rgba(0, 0, 0, 0.54);
}

/* line 482, style.scss */
div.src-result:hover div.demo-list-two div.mdl-list__item span {
  margin-left: -200%;
  transition: margin-left .6s .2s;
}
/* line 485, style.scss */
div.src-result:hover div.demo-list-two div.mdl-list__item span img {
  width: 0;
  height: 0;
  transition: .3s;
}
/* line 495, style.scss */
div.src-result:hover div.card-info div.category-icon button.mdl-button {
  margin-left: -200%;
  transition: .3s;
}
