/* line 1, style.scss */
* {
  cursor: pointer;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 8, style.scss */
.page-content {
  margin-bottom: 74px;
}

/* line 12, style.scss */
.mdl-layout__header {
  color: #555;
  background: white;
}

/* line 17, style.scss */
.bck-btn {
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 4;
}

/* line 24, style.scss */
.mdl-layout__drawer-button i {
  line-height: 2;
}

/* line 28, style.scss */
.demo-card-image.mdl-card {
  width: 100vw;
  max-width: 600px;
  height: 300px;
}

/* line 34, style.scss */
.heart {
  color: black;
}

/* line 38, style.scss */
#spinner {
  position: absolute;
  display: block;
  top: 50%;
  right: 47%;
  z-index: 100;
}

/* line 46, style.scss */
#card1.demo-card-image.mdl-card {
  background: url("images/image1.jpg") center/cover;
}

/* line 50, style.scss */
#card2.demo-card-image.mdl-card {
  background: url("images/image2.jpg") center/cover;
}

/* line 54, style.scss */
#card3.demo-card-image.mdl-card {
  background: url("images/image3.jpg") center/cover;
}

/* line 58, style.scss */
#card4.demo-card-image.mdl-card {
  background: url("images/image4.jpg") center/cover;
}

/* line 62, style.scss */
#card5.demo-card-image.mdl-card {
  background: url("images/image5.jpg") center/cover;
}

/* line 66, style.scss */
#card6.demo-card-image.mdl-card {
  background: url("images/image6.jpg") center/cover;
}

/* line 69, style.scss */
#card7.demo-card-image.mdl-card {
  background: url("images/image7.jpg") center/cover;
}

/* line 72, style.scss */
#card8.demo-card-image.mdl-card {
  background: url("images/image8.jpg") center/cover;
}

/* line 75, style.scss */
#card9.demo-card-image.mdl-card {
  background: url("images/image8.jpg") center/cover;
}

/* line 78, style.scss */
#card10.demo-card-image.mdl-card {
  background: url("images/image9.jpg") center/cover;
}

/* line 81, style.scss */
#card11.demo-card-image.mdl-card {
  background: url("images/image10.jpg") center/cover;
}

/* line 84, style.scss */
#card12.demo-card-image.mdl-card {
  background: url("images/image11.jpg") center/cover;
}

/* line 87, style.scss */
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.7);
}

/* line 93, style.scss */
.demo-card-image__filename {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

/*THIS MAKES MULTILINE ELLIPSIS POSSIBLE*/
/* line 105, style.scss */
.card-description-collapsed {
  position: relative;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 44.8px;
  /* Fallback for non-webkit */
  margin: 0 auto 16px auto;
  font-size: 16px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: height 1s;
  transition: height 1s;
}

/* line 124, style.scss */
.card-description-collapsed:hover {
  display: block;
  overflow: visible;
  text-overflow: visible;
  height: 10rem;
  -webkit-transition: height .1s;
  transition: height .1s;
}

/* line 133, style.scss */
.published {
  padding-top: 16px;
  margin-bottom: -16px;
  color: rgba(0, 0, 0, 0.54);
}

/* line 139, style.scss */
footer.mdl-mini-footer {
  box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.4);
  background: white;
  margin: 0;
  padding-left: 0;
}

/* line 146, style.scss */
.mdl-mini-footer__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100vw;
}
/* line 154, style.scss */
.mdl-mini-footer__link-list button,
.mdl-mini-footer__link-list span {
  margin: 0;
}

/* line 159, style.scss */
#footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 56px;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

/* line 171, style.scss */
.bottom-button {
  width: 96px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0;
}

/* line 192, style.scss */
.mdl-button--icon,
.material-icons {
  margin: 0;
}

/* line 196, style.scss */
.button-label {
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 0.7;
  padding-bottom: 10px;
}

/* line 204, style.scss */
.button-label-active {
  color: #00bcd4;
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 0.7;
  padding-bottom: 10px;
}

/* line 213, style.scss */
#video {
  display: block;
}

/* line 217, style.scss */
#myCanvas {
  display: none;
}

/* line 221, style.scss */
#contrButtons {
  padding: 10px;
  display: none;
  text-align: center;
  width: 100vw;
  margin-left: -16px;
}
/* line 227, style.scss */
#contrButtons button {
  margin: 10px;
}

/* line 232, style.scss */
#sharebutton {
  float: right;
  bottom: 8px;
}

/* line 237, style.scss */
.mdl-button--fab {
  position: absolute;
  bottom: 60px;
  right: 16px;
  z-index: 200;
}

/* line 244, style.scss */
.card-icons {
  max-width: 600px;
  padding: 16px;
  line-height: 1.5;
  position: relative;
  color: rgba(0, 0, 0, 0.54);
}
/* line 249, style.scss */
.card-icons .heart {
  color: rgba(0, 0, 0, 0.54);
}

/* line 256, style.scss */
.star-label,
.card-icons.star-label {
  position: absolute;
  right: 8px;
  /*top: 20px;*/
}

/* line 262, style.scss */
.downarrow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.24);
  margin-top: -12px;
}

/* line 276, style.scss */
.card-details {
  max-width: 600px;
  padding-left: 16px;
}

/* line 282, style.scss */
.demo-list-radio {
  display: inline;
}

/* line 286, style.scss */
.demo-list-two {
  width: 100%;
  padding: 0;
}

/* line 291, style.scss */
div.fillin-content {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

/* line 297, style.scss */
.map-container {
  width: 100%;
  margin-bottom: 16px;
}
/* line 300, style.scss */
.map-container iframe {
  width: 100%;
  display: block;
  position: relative;
}

/* line 308, style.scss */
.leftmargin-16,
h5.leftmargin-16 {
  margin-left: 16px;
}

/* line 312, style.scss */
#nearme-search {
  width: 260px;
}

/* line 316, style.scss */
.mdl-layout__header {
  background: url(images/ic_apps_black_24dp_1x.png);
  background-repeat: no-repeat;
  background-position: 16px;
}
/* line 317, style.scss */
.mdl-layout__header .mdl-layout__drawer-button i {
  opacity: 0;
}

/* line 325, style.scss */
.fa {
  font-size: 1.3rem;
  padding: 5px;
}

/* line 330, style.scss */
.mdl-card.fav-card {
  width: 100vw;
  max-width: 600px;
  margin-bottom: 1px;
  min-height: 50px;
  vertical-align: middle;
}

/* line 338, style.scss */
.fav-item {
  font-size: 14px;
  padding-top: 10px;
}

/* line 343, style.scss */
.favimg {
  height: 40px;
  overflow-y: hidden;
}

/* line 349, style.scss */
.card-grid.demo-card-image.mdl-card {
  width: 49vw;
  margin-right: 2px;
  margin-bottom: 2px;
  min-height: 0;
  height: 128px;
}
/* line 356, style.scss */
.card-grid label {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 363, style.scss */
#fav-card.card-grid {
  background: url("images/image1.jpg") center/cover;
}

/* line 367, style.scss */
#fav-card1.card-grid {
  background: url("images/image2.jpg") center/cover;
}

/* line 371, style.scss */
#fav-card2.card-grid {
  background: url("images/image3.jpg") center/cover;
}

/* line 375, style.scss */
#fav-card3.card-grid {
  background: url("images/image4.jpg") center/cover;
}

/* line 379, style.scss */
.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: -12px;
}

/* line 387, style.scss */
.card-names {
  padding: 16px 0 24px 4px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
}

/* line 393, style.scss */
.category-icon {
  padding: 16px 4px 24px 16px;
  margin-top: -8px;
}

/* line 398, style.scss */
.myposts-heading {
  margin-top: 0;
  text-align: center;
  margin-bottom: 24px;
}

/* line 404, style.scss */
.settings-btn {
  position: absolute;
  margin: auto;
  top: 43px;
}

/* line 410, style.scss */
.active {
  opacity: 0;
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
}

/* line 416, style.scss */
.normal {
  opacity: 1;
}

/* line 420, style.scss */
.displaynone {
  display: none;
}

/* line 424, style.scss */
.mdl-icon-toggle__ripple-container {
  background: rgba(255, 255, 255, 0.53);
  z-index: -1;
}

/* line 429, style.scss */
.slide-none {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 436, style.scss */
.slide-left {
  -webkit-transform: translateX(-220%);
  transform: translateX(-220%);
  margin-top: -73px;
  -webkit-transition: margin-top 0.3s 0.3s, -webkit-transform 0.6s;
  transition: margin-top 0.3s 0.3s, -webkit-transform 0.6s;
  transition: transform 0.6s, margin-top 0.3s 0.3s;
  transition: transform 0.6s, margin-top 0.3s 0.3s, -webkit-transform 0.6s;
}

/* line 447, style.scss */
.normal label.star-label,
.active label.star-label {
  margin: 4px;
}

/* line 451, style.scss */
#map {
  height: 70vh;
}

/* line 455, style.scss */
.mdl-menu__container {
  margin-left: -20px;
}

/* line 459, style.scss */
.card-collapse {
  width: 100vw;
  max-width: 600px;
  margin-bottom: 1px;
  min-height: 50px;
  vertical-align: middle;
}

/* line 467, style.scss */
.card-expand {
  min-height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 473, style.scss */
.search-img-small {
  height: 40px;
  overflow-y: hidden;
}

/* line 478, style.scss */
.search-img-big {
  height: 180px;
  overflow-y: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* line 485, style.scss */
.profile-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*POLYFILL DIALOGUE*/
/* line 495, style.scss */
.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 280px;
}

/* line 499, style.scss */
.mdl-dialog__title {
  padding: 24px 24px 0;
  margin: 0;
  font-size: 2.5rem;
}

/* line 503, style.scss */
.mdl-dialog__actions {
  padding: 8px 8px 8px 24px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 514, style.scss */
.mdl-dialog__actions > * {
  margin-right: 8px;
  height: 36px;
}

/* line 517, style.scss */
.mdl-dialog__actions > *:first-child {
  margin-right: 0;
}

/* line 519, style.scss */
.mdl-dialog__actions--full-width {
  padding: 0 0 8px 0;
}

/* line 521, style.scss */
.mdl-dialog__actions--full-width > * {
  height: 48px;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  padding-right: 16px;
  margin-right: 0;
  text-align: right;
}

/* line 529, style.scss */
.mdl-dialog__content {
  padding: 20px 24px 24px 24px;
  color: rgba(0, 0, 0, 0.54);
}

/*SEARCH LIST EXPAND 1*/
/* line 537, style.scss */
div#src-result1:hover, div#src-result1:focus {
  margin-bottom: -244px;
  margin-top: 0px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  height: auto;
}
/* line 543, style.scss */
div#src-result1:hover div.demo-list-two, div#src-result1:focus div.demo-list-two {
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 550, style.scss */
div#src-result1:hover div.demo-list-two div.mdl-list__item span img, div#src-result1:focus div.demo-list-two div.mdl-list__item span img {
  width: 46px;
  height: 46px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 559, style.scss */
div#src-result1:hover div.demo-card-image, div#src-result1:focus div.demo-card-image {
  margin-top: auto;
  width: 100%;
  height: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 566, style.scss */
div#src-result1:hover div.card-icons, div#src-result1:focus div.card-icons {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 576, style.scss */
div#src-result1:hover div.card-info div.category-icon button.mdl-button, div#src-result1:focus div.card-info div.category-icon button.mdl-button {
  margin-left: auto;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 582, style.scss */
div#src-result1:hover div.card-info div.card-names, div#src-result1:focus div.card-info div.card-names {
  margin-left: 8px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 588, style.scss */
div#src-result1:hover .newprice, div#src-result1:hover .ending, div#src-result1:focus .newprice, div#src-result1:focus .ending {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 596, style.scss */
div#src-result1:hover .salevalue, div#src-result1:focus .salevalue {
  padding-bottom: 0px;
}
/* line 599, style.scss */
div#src-result1:hover .published, div#src-result1:focus .published {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}

/* line 613, style.scss */
div#src-result1 {
  margin-top: -80px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  height: 10px;
}
/* line 618, style.scss */
div#src-result1 div.demo-list-two {
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 625, style.scss */
div#src-result1 div.demo-list-two div.mdl-list__item span img {
  width: 0;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 634, style.scss */
div#src-result1 div.demo-card-image {
  margin-top: -250px;
  width: 0px;
  height: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 641, style.scss */
div#src-result1 div.card-icons {
  margin-top: -40px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 651, style.scss */
div#src-result1 div.card-info div.category-icon button.mdl-button {
  margin-left: -200%;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 657, style.scss */
div#src-result1 div.card-info div.card-names {
  margin-left: -40px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 663, style.scss */
div#src-result1 .newprice, div#src-result1 .ending {
  margin-top: -32px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 671, style.scss */
div#src-result1 .salevalue {
  padding-bottom: 24px;
}
/* line 674, style.scss */
div#src-result1 .published {
  margin-top: -32px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}

/*SEARCH LIST EXPAND 2*/
/* line 688, style.scss */
div#src-result2:hover, div#src-result2:focus {
  margin-bottom: -244px;
  margin-top: 0px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  height: auto;
}
/* line 694, style.scss */
div#src-result2:hover div.demo-list-two, div#src-result2:focus div.demo-list-two {
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 701, style.scss */
div#src-result2:hover div.demo-list-two div.mdl-list__item span img, div#src-result2:focus div.demo-list-two div.mdl-list__item span img {
  width: 46px;
  height: 46px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 710, style.scss */
div#src-result2:hover div.demo-card-image, div#src-result2:focus div.demo-card-image {
  margin-top: auto;
  width: 100%;
  height: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 717, style.scss */
div#src-result2:hover div.card-icons, div#src-result2:focus div.card-icons {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 727, style.scss */
div#src-result2:hover div.card-info div.category-icon button.mdl-button, div#src-result2:focus div.card-info div.category-icon button.mdl-button {
  margin-left: auto;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 733, style.scss */
div#src-result2:hover div.card-info div.card-names, div#src-result2:focus div.card-info div.card-names {
  margin-left: 8px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 739, style.scss */
div#src-result2:hover .newprice, div#src-result2:hover .ending, div#src-result2:focus .newprice, div#src-result2:focus .ending {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 747, style.scss */
div#src-result2:hover .salevalue, div#src-result2:focus .salevalue {
  padding-bottom: 0px;
}
/* line 750, style.scss */
div#src-result2:hover .published, div#src-result2:focus .published {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}

/* line 764, style.scss */
div#src-result2 {
  margin-top: -80px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  height: 10px;
}
/* line 769, style.scss */
div#src-result2 div.demo-list-two {
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 776, style.scss */
div#src-result2 div.demo-list-two div.mdl-list__item span img {
  width: 0;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 785, style.scss */
div#src-result2 div.demo-card-image {
  margin-top: -250px;
  width: 0px;
  height: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 792, style.scss */
div#src-result2 div.card-icons {
  margin-top: -40px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 802, style.scss */
div#src-result2 div.card-info div.category-icon button.mdl-button {
  margin-left: -200%;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 808, style.scss */
div#src-result2 div.card-info div.card-names {
  margin-left: -40px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 814, style.scss */
div#src-result2 .newprice, div#src-result2 .ending {
  margin-top: -32px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 822, style.scss */
div#src-result2 .salevalue {
  padding-bottom: 24px;
}
/* line 825, style.scss */
div#src-result2 .published {
  margin-top: -32px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}

/*SEARCH LIST EXPAND 3*/
/* line 839, style.scss */
div#src-result3:hover, div#src-result3:focus {
  margin-bottom: -244px;
  margin-top: 0px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  height: auto;
}
/* line 845, style.scss */
div#src-result3:hover div.demo-list-two, div#src-result3:focus div.demo-list-two {
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 852, style.scss */
div#src-result3:hover div.demo-list-two div.mdl-list__item span img, div#src-result3:focus div.demo-list-two div.mdl-list__item span img {
  width: 46px;
  height: 46px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 861, style.scss */
div#src-result3:hover div.demo-card-image, div#src-result3:focus div.demo-card-image {
  margin-top: auto;
  width: 100%;
  height: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 868, style.scss */
div#src-result3:hover div.card-icons, div#src-result3:focus div.card-icons {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 878, style.scss */
div#src-result3:hover div.card-info div.category-icon button.mdl-button, div#src-result3:focus div.card-info div.category-icon button.mdl-button {
  margin-left: auto;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 884, style.scss */
div#src-result3:hover div.card-info div.card-names, div#src-result3:focus div.card-info div.card-names {
  margin-left: 8px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 890, style.scss */
div#src-result3:hover .newprice, div#src-result3:hover .ending, div#src-result3:focus .newprice, div#src-result3:focus .ending {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 898, style.scss */
div#src-result3:hover .salevalue, div#src-result3:focus .salevalue {
  padding-bottom: 0px;
}
/* line 901, style.scss */
div#src-result3:hover .published, div#src-result3:focus .published {
  margin-top: auto;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: auto;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}

/* line 915, style.scss */
div#src-result3 {
  margin-top: -80px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  height: 10px;
}
/* line 920, style.scss */
div#src-result3 div.demo-list-two {
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 927, style.scss */
div#src-result3 div.demo-list-two div.mdl-list__item span img {
  width: 0;
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 936, style.scss */
div#src-result3 div.demo-card-image {
  margin-top: -250px;
  width: 0px;
  height: 0px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 943, style.scss */
div#src-result3 div.card-icons {
  margin-top: -40px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 953, style.scss */
div#src-result3 div.card-info div.category-icon button.mdl-button {
  margin-left: -200%;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 959, style.scss */
div#src-result3 div.card-info div.card-names {
  margin-left: -40px;
  -webkit-transition: .3s;
  transition: .3s;
}
/* line 965, style.scss */
div#src-result3 .newprice, div#src-result3 .ending {
  margin-top: -32px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}
/* line 973, style.scss */
div#src-result3 .salevalue {
  padding-bottom: 24px;
}
/* line 976, style.scss */
div#src-result3 .published {
  margin-top: -32px;
  -webkit-transition: margin-top .9s .2s;
  transition: margin-top .9s .2s;
  margin-left: -200%;
  -webkit-transition: margin-left .6s .2s;
  transition: margin-left .6s .2s;
}

/* line 988, style.scss */
.bufer {
  height: 232px;
}
