* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* HEADER */

.mdl-layout__header {
    color: #555;
    background: white;
    /*text-shadow: 1px 1px 5px rgba(0,0,0,.3);*/
}


/* HEADER BACK BUTTON POSITION */

.bck-btn {
    position: absolute;
    top: 12px;
    left: 16px;
}


/*THIS IS FIX FOR IMPROPER MENU BUTTON POSITION*/

.mdl-layout__drawer-button i {
    line-height: 2;
}


/*THIS IS NEWS FEED CARDS*/

.demo-card-image.mdl-card {
    width: 100vw;
    max-width: 600px;
    height: 300px;
    margin-bottom: 30px;
}

.heart {
    color: black;
}

#spinner {
    position: absolute;
    display: block;
    top: 50%;
    right: 47%;
    z-index: 100;
}


/*THIS IS CARD 1*/

#card1.demo-card-image.mdl-card {
    background: url('images/image1.jpg') center / cover;
}


/*THIS IS CARD 2*/

#card2.demo-card-image.mdl-card {
    background: url('images/image2.jpg') center / cover;
}


/*THIS IS CARD 3*/

#card3.demo-card-image.mdl-card {
    background: url('images/image3.jpg') center / cover;
}


/*THIS IS CARD 4*/

#card4.demo-card-image.mdl-card {
    background: url('images/image4.jpg') center / cover;
}


/*THIS IS CARD 5*/

#card5.demo-card-image.mdl-card {
    background: url('images/image5.jpg') center / cover;
}


/*THIS IS CARD 6*/

#card6.demo-card-image.mdl-card {
    background: url('images/image6.jpg') center / cover;
}

.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.7);
}

.demo-card-image__filename {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
}


/*THIS IS FOOTER*/

.mdl-badge[data-badge]:after {
    z-index: 1;
    /*background: cyan;*/
}

.mdl-mini-footer {
    box-shadow: 0px -1px 8px rgba(0, 0, 0, .4);
    background: white;
    padding-top: 0px;
    /*padding-bottom: 15px;*/
    /*margin-bottom: -20px;*/
    /*display: flex;*/
}

.mdl-mini-footer__link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100vw;
    margin-left: -16px;
    margin-bottom: -32px;
    /*background: #424242;*/
}

.mdl-mini-footer__link-list button,
.mdl-mini-footer__link-list span {
    margin: 0;
}

.mdl-mini-footer__link-list span {
    margin-top: 3px;
}


/*END OF FOOTER*/

#video {
    display: block;
}

#myCanvas {
    display: none;
}

#contrButtons {
    padding: 10px;
    display: none;
    text-align: center;
    width: 100vw;
    margin-left: -16;
}

#contrButtons button {
    margin: 10px;
}

#sharebutton {
    float: right;
    bottom: 8px;
}

.mdl-button--fab {
    position: absolute;
    bottom: 50px;
    right: 16px;
    z-index: 200;
}

#image-input {
    z-index: -1;
    margin-top: -20px;
    display: none;
}

.card-icons {
    max-width: 600px;
    margin-top: -16px;
    padding-bottom: 16px;
    padding-left: 16px;
    line-height: 1.5;
}

.star-label {
    margin-top: -6px;
    margin-right: 8px;
    float: right;
}

.card-details {
    max-width: 600px;
    padding-left: 16px;
    margin-top: -16px;
    margin-bottom: 8px;
}


/*PROFILE PAGE*/

.profile-content {
/*    padding-left: 16px;
    padding-right: 16px;*/
}

.demo-list-radio {
    display: inline;
}

.demo-list-two {
    width: 100%;
}


/*FILL DETAILS PAGE*/

div.fillin-content {
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}


/*NO SCROLL FOR MAP*/

.map-container {
    width: 100%;
    margin-bottom: 16px;
}

.map-container iframe {
    width: 100%;
    display: block;
    pointer-events: none;
    position: relative;
    /* IE needs a position other than static */
}

.map-container iframe.clicked {
    pointer-events: auto;
}

.leftmargin-16 {
    margin-left: 16px;
}

h5.leftmargin-16 {
    margin-left: 16px;
}


/*SEARCH ON NEAR ME SCREEN*/

#nearme-search {
    width: 260px;
}

.mdl-layout__header .mdl-layout__drawer-button i {
    opacity: 0;
}

.mdl-layout__header {
    background: url(images/ic_apps_black_24dp_1x.png);
    background-repeat: no-repeat;
    background-position: 16px;
}

.fa {
    font-size: 1.3rem;
    padding: 5px;
}


/*FAVORITES PAGE*/


/*FAV CARDS*/

.mdl-card.fav-card {
    width: 100vw;
    max-width: 600px;
    margin-bottom: 30px;
    min-height: 50px;
    padding: 16px
}

.fav-card-container {

    /*margin: -17px;*/
    /*text-align: center;*/
}

.card-grid.demo-card-image.mdl-card {
    /*display: inline-block;*/
    /*margin: auto;*/
    width: 49vw;
    margin-right: 2px;
    margin-bottom: 2px;
    min-height: 0;
    height: 128px;
    background: url('images/image1.jpg') center / cover;
}

.card-names {
    margin-top: -16px;
    margin-bottom: 24px;
    padding-left: 16px;
}

.myposts-heading {
    margin-top: 0;
    text-align: center;
    margin-bottom: 24px;
}

.settings-btn {
    position: absolute;
    margin: auto;
    top: 43px;
}

.active {
    opacity: 0;
    transition: .3s .3s;
}

.normal {
    opacity: 1;
}

.displaynone {
    display: none;
}

.mdl-icon-toggle__ripple-container {
    background: rgba(255,255,255,.53);
    z-index: -1;
}

.slide-none {
    transform: translateX(0);
}
.slide-left {
    transform: translateX(-105%);
    transition: .3s .3s;
}
.normal label.star-label, .active label.star-label  {
    margin: 4px;
}
#map {
        height: 80vh;
      }